.section-hello {
  height: 89vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-blue, 0.8),
      rgba($color-blue-dark, 0.8)
    ),
    url(../../../src/assets/img/users.jpg);
  background-size: cover;
  background-position: top;
  position: relative;

  &__box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__title {
    font-size: 2.5rem;
    margin-bottom: 3rem;
    color: $color-white-light;

    h1 {
      margin-bottom: 2rem;
    }
  }
}

.section-table {
  margin-left: 16rem;

  &__btn-create {
    margin-top: 2rem;
    margin-left: 16rem;
  }
}
